@charset "UTF-8";

@media screen and (max-width: 667px) {
div.p3{
    display: none;
    width: 300px;
    }
    div.icon{
        display: none;
    }
    menu{
        margin-right: 50px;
    }
}
    @media screen and (min-width: 765px) and (max-width: 1000px) {
        section.inicio{
            background: url("../imagens/fundo-junto.jpg");
            background-size: cover;

            width: 100%;
            height: 500px;
        }
        .img1{
          display: none;  
        }

    }
