@charset "UTF-8";

@media screen and (max-width: 667px) {
div.p3{
    display: none;
    width: 300px;
    }
    div.icon{
        display: none;
    }
    menu{
        margin-right: 50px;
    }
}
    @media screen and (min-width: 678px) and (max-width: 992px) {
        .img1{
          display: none;  
        }
        .img2{

            height: 570px;
            display:block;
            padding: 20px;
        }
    }
